<%-include("partials/header") %>



<div class="ui main text container segment">
	<div class="ui huge header text-center">
		Who is Actually 
	</div>
	<div class="ui huge header text-center">
		 Oguzhan Cevik ?
	</div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui mb-3 centered large fluid image" src="https://i.ibb.co/Vv9yycc/Screenshot-20200331-152119.jpg">
			<div class="content mb-3">
		
		</div>
			<div class="description">
				<p id="body">
					<!-- tire kullanmasmizin sebebi adam </strong> tagi girerse onu html e yazmasin calistirsin yazi kalin olsun -->
					Hi I`m 21 years old.I live in Manisa and I`m studying at Manisa Celal Bayar University.My department is Computer Engineering because computer is part of my life since i am 7 years old.By the way I`m still working on my english skills.In these days i am working on web programming and this website is fruit of my tree.My hobbies are travelling,swimming,playing computer games,watching TV series or movie,reading book,googling something i curious about.I`m very curious person,when i see something in deep down i wanna google it.My life philosophy
 is "Life is short,just live however you want and that is up to you."
				</p>
				<p class="body">
					<div>
						<strong>
					
                      For more information about me 
						
					</strong>
				</div>
					
					<a target="_blank" class="ui inverted blue  button" href="https://europa.eu/europass/eportfolio/api/eprofile/shared-profile/ec75bad7-ed70-44b8-98da-961a1a69dbec?view=html">CV</a>
					
				</p>
			</div>
		</div>
		
	</div>

<%-include("partials/footer") %>