<%-include("partials/header") %>



<div class="ui main text container segment">
	<div class="ui huge header text-center">
		Who is Actually 
	</div>
	<div class="ui huge header text-center">
		 Oguzhan Cevik ?
	</div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui mb-3 centered large fluid image" src="https://i.ibb.co/Vv9yycc/Screenshot-20200331-152119.jpg">
			<div class="content mb-3">
		
		</div>
			<div class="description">
				<p id="body">
					<!-- tire kullanmasmizin sebebi adam </strong> tagi girerse onu html e yazmasin calistirsin yazi kalin olsun -->
					BURAYI DOLDURUCAM
				</p>
			</div>
		</div>
		
	</div>

<%-include("partials/footer") %>