<%-include("partials/header") %>
<style>
	
	
	body{
			background-image: url(https://image.freepik.com/free-vector/abstract-hexagon-black-background-red-light-shadow_51543-616.jpg);
			background-size: cover;
			background-position: center;
			font-family: Lato;
			background-repeat: no-repeat;
			
			background-attachment: fixed; /*sayfayi kaplamasini sagliyor*/

		}
	
	.row{
			text-align: center;
			padding-top: 15%;
			text-shadow: 0px 4px 3px red,
			0px 8px 13px green,
			0px 10px 10px blue;
		}
	
	h1	{
			font-family: 'Anton', sans-serif;
			color:white;
			font-weight: 700px;
			font-size: 5.0em;
		}
		h3{
			font-family: 'Anton', sans-serif;
			color:white;
			font-size: 3.0em;
		}
		hr{
			color:white;
			width: 40%;
		}
	

</style>

<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>OOOOPPPSSS....</h1>
				<h3>Sorry The Page You`re Looking for is not Found.</h3>
				<hr>
				<a href="javascript:history.back()" class=" ui red button big inverted ">Go Back</a>
			</div>
		</div>
	</div>


<%-include("partials/footer") %>