<%-include("partials/header") %>
     
       <!--
	
		<%//blog[] seklindeki kisimlar hepsini body icinde topluyor tek element haline getiriyor boylece req.body.blog demesi yeterli olucak tek tek req.body yapmaktan kolay%>
	-->
     <div class="ui main text container segment">
		 <div class="ui huge header">
			 New Post
		 </div>
		 <form class="ui form" method="POST" action="/blogs"  >
			 <input type="text" style="margin-top:2rem; font-size:2rem;" class="text-center font-weight-bold"  name="blog[title]" id="form" required placeholder="TITLE">
			 <input type="text" style="margin-top:2rem;" name="blog[image]"  required placeholder="Paste Your Image URL here.">
			 
			 
			 <textarea name="blog[body]"  style="margin-top:2rem;"  required placeholder="Spit out Your Thoughts"></textarea>
			
			 
			 
			 <label for="blog[category]" class="mt-3">Category</label>
			 <select name="blog[category]" class="form-control form-control-lg">
  
				 <option>Technology</option>
				 <option>Game</option>
				 <option>Science</option>
				 <option>History</option>
				<option>Travel</option>

</select>
			 
			 
			 
			 <button class="ui inverted blue big button"  style="margin-top:2rem;" id="form" id="form">POST</button>
			 
		 </form>
</div>







<%-include("partials/footer") %>